
body {
  font-family: helvetica;
  background-color: gainsboro;
  padding-top: 10px;
  padding-bottom: 10px;
}

.about {
  text-align: left;
}

h3 {
  position: fixed;
  bottom: 30px;
  right: 0px;
  padding-right: 50px;
  color: maroon;

}

.pictures {
  text-align: center;
}

.pictures img{
  height: 225px;
  width: 250px;
  padding: 10px;
}

blockquote {
  text-align: center;
}

#last {
  font-size: 16px;
}

ol {
  padding-left: 15px;
}

ul {
  list-style: none;
  padding-left: 0px;
}

.about span {
  color: maroon;
}
