html {
  background-color: white;
  text-align: center;
}
body {
  padding: 10px 30px 10px 30px;
  background-color: navajowhite;
  margin: -1px;
  border: solid white;
  border-top: 20px solid white;
  border-bottom: 20px solid white;
  border-left: 50px solid white;
  border-right: 50px solid white;
}

h1 {
  background-color: white;
  width: 120px;
  position: fixed;
  left: 60px;
  float: left;
  color: maroon;
}

.pictures img{
  height: 225px;
  width: 250px;
  padding: 10px;
}

.links ul {
  list-style: none;
}

.about span {
  color: maroon;
}
