
body {
  font-family: helvetica;
}

.about {
  text-align: left;
}

h1 {
  background-color: linear-gradient (blue, red, blue);
  position: fixed;
  bottom: 0px;
  right: 0px;
  padding-right: 50px;
  color: maroon;

}

.pictures img{
  height: 225px;
  width: 250px;
  padding: 10px;
}

.links ul {
  list-style: none;
  padding-left: 0px;
}

.about span {
  color: maroon;
}
